In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/HP/OneDrive/Desktop/prices_clean.csv")

In [4]:
df.info

<bound method DataFrame.info of       year   make                       model     price
0     2023  Honda                     Elevate   14530.0
1     2023  Honda                           e   37140.0
2     2023  Honda                   e Advance   37140.0
3     2023  Honda             Pilot Elite AWD   52030.0
4     2023  Honda  Pilot EX-L 8-Passenger AWD   42310.0
...    ...    ...                         ...       ...
1165  2023  Tesla               S Performance  104990.0
1166  2023  Tesla               X Performance  120990.0
1167  2023  Tesla          Model 3 Long Range   51990.0
1168  2023  Tesla               Model X Plaid  119990.0
1169  2023  Tesla          Model X Long Range  107990.0

[1170 rows x 4 columns]>

In [5]:
df.columns

Index(['year', 'make', 'model', 'price'], dtype='object')

In [6]:
df.shape

(1170, 4)

In [7]:
df.describe()

         year         price
count  1170.0  1.170000e+03
mean   2023.0  1.545724e+05
std       0.0  4.351799e+05
min    2023.0  7.300000e+03
25%    2023.0  3.890000e+04
50%    2023.0  5.377000e+04
75%    2023.0  9.517500e+04
max    2023.0  5.000000e+06

In [8]:
df.tail()

      year   make               model     price
1165  2023  Tesla       S Performance  104990.0
1166  2023  Tesla       X Performance  120990.0
1167  2023  Tesla  Model 3 Long Range   51990.0
1168  2023  Tesla       Model X Plaid  119990.0
1169  2023  Tesla  Model X Long Range  107990.0

In [9]:
df.fillna

<bound method DataFrame.fillna of       year   make                       model     price
0     2023  Honda                     Elevate   14530.0
1     2023  Honda                           e   37140.0
2     2023  Honda                   e Advance   37140.0
3     2023  Honda             Pilot Elite AWD   52030.0
4     2023  Honda  Pilot EX-L 8-Passenger AWD   42310.0
...    ...    ...                         ...       ...
1165  2023  Tesla               S Performance  104990.0
1166  2023  Tesla               X Performance  120990.0
1167  2023  Tesla          Model 3 Long Range   51990.0
1168  2023  Tesla               Model X Plaid  119990.0
1169  2023  Tesla          Model X Long Range  107990.0

[1170 rows x 4 columns]>

In [10]:
df.loc(0)

In [11]:
df.head()

   year   make                       model    price
0  2023  Honda                     Elevate  14530.0
1  2023  Honda                           e  37140.0
2  2023  Honda                   e Advance  37140.0
3  2023  Honda             Pilot Elite AWD  52030.0
4  2023  Honda  Pilot EX-L 8-Passenger AWD  42310.0

In [12]:
df.isnull()

       year   make  model  price
0     False  False  False  False
1     False  False  False  False
2     False  False  False  False
3     False  False  False  False
4     False  False  False  False
...     ...    ...    ...    ...
1165  False  False  False  False
1166  False  False  False  False
1167  False  False  False  False
1168  False  False  False  False
1169  False  False  False  False

[1170 rows x 4 columns]

In [13]:
df.isnull().sum()

year     0
make     0
model    0
price    0
dtype: int64